<!--
<div class="bg-slate-500 h-full flex flex-col">
  <div class="flex flex-row justify-center items-center">
    <div class="w-[100vw] md:w-[600px]">
      <h4 class="text-3xl font-bold text-center my-2">hn search</h4>
      <app-search-bar></app-search-bar>
    </div>
  </div>
  <div>search result ...</div>
</div>
-->
<div class="bg-slate-500 h-full flex flex-col">
  <div class="w-[100vw] md:w-[600px] place-self-center">
    <h4 class="text-3xl font-bold text-center my-2">hn search</h4>
    <app-search-bar></app-search-bar>
    <div>search result ...</div>
  </div>
</div>
